<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>812779775623-2qt070mvu821182np4k2ufv6jf4q4ft2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812779775623-2qt070mvu821182np4k2ufv6jf4q4ft2</string>
	<key>API_KEY</key>
	<string>AIzaSyBB00gixaK45MEXx8ti13eG1iCXLWp8NC8</string>
	<key>GCM_SENDER_ID</key>
	<string>812779775623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abouelouafayassine.acty.RidesShare</string>
	<key>PROJECT_ID</key>
	<string>ridesshare-542bd</string>
	<key>STORAGE_BUCKET</key>
	<string>ridesshare-542bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812779775623:ios:c9ffa6b56962ca25</string>
	<key>DATABASE_URL</key>
	<string>https://ridesshare-542bd.firebaseio.com</string>
</dict>
</plist>